apiVersion: v1
kind: Secret
metadata:
  name: {{ ceph_client_k8s_secret_name }}
  namespace: {{ ceph_client_k8s_secret_namespace }}
stringData:
  userID: {{ ceph_client_k8s_user }}
  userKey: {{ ceph_client_k8s_key }}
