apiVersion: v1
kind: Secret
metadata:
  name: {{ ceph_client_k8s_secret }}
  namespace: default
data:
  key: {{ ceph_client_k8s_key | b64encode }}
type: kubernetes.io/rbd

---

apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: {{ ceph_client_k8s_sc }}
  annotations:
    storageclass.kubernetes.io/is-default-class: "true"
allowVolumeExpansion: true
provisioner: kubernetes.io/rbd
parameters:
  monitors: "{{ ceph_client_k8s_mons | join(',') }}"
  pool: {{ ceph_client_k8s_pool }}
  adminId: {{ ceph_client_k8s_user }}
  adminSecretName: {{ ceph_client_k8s_secret }}
  adminSecretNamespace: default
  userId: {{ ceph_client_k8s_user }}
  userSecretName: {{ ceph_client_k8s_secret }}
  userSecretNamespace: default
  fsType: ext4
  imageFormat: "2"
  imageFeatures: "layering"
